/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";*/

/*----------------------------------------*\
  VARIABLES
\*----------------------------------------*/

:root {
  /* COLORS */
  --black: #000000;
  --darkgray: darkgray;
  --green: #02b302;
  --lightgray: lightgray;
  --lightred: #faeded;
  --red: #ff0000;
  --white: #ffffff;

  /* SEMANTIC COLORS */
  --color-cta: var(--green);
  --color-cta-hover: #018801;
  --color-error: var(--red);
  --color-error-background: var(--lightred);
  --color-normal-action: var(--white);
  --color-normal-action-hover: var(--lightgray);
  --color-overlay-background: rgba(0, 0, 0, 0.03);
  --color-spinner: var(--black);
  --color-text-default: var(--black);
  --color-text-disabled: graytext;

  /* FONT WEIGHT */
  --bold: 600;

  /* LAYOUT */
  --border-radius-default: 4px;

  /* TIMING */
  --transition-default: 0.3s;
}

.button {
  border: 1px solid var(--darkgray);
  border-radius: var(--border-radius-default);
  color: var(--color-text-default);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  transition: var(--transition-default);
}

.button[disabled] {
  border-color: var(--lightgray);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.button--normal-action {
  background-color: var(--color-normal-action);
}

.button--normal-action:hover,
.button--normal-action:active {
  background-color: var(--color-normal-action);
}

.button--cta {
  background-color: var(--color-cta);
  color: var(--white);
}

.button--cta:hover,
.button--cta:active {
  background-color: var(--color-cta-hover);
}

.button--fullwidth {
  display: block;
  width: 100%;
}

.form__input {
  display: block;
  margin-top: 0.4rem;
}

.form__label {
  display: block;
  margin: 1rem 0 0 0;
}

.input {
  border: 1px solid var(--lightgray);
  border-radius: var(--border-radius-default);
  box-shadow: none;
  padding: 0.4rem;
}

.label {
  font-weight: 600;
}

.loading-overlay {
  background-color: var(--color-overlay-background);
}

.notification {
  border: 1px solid var(--color-text-default);
  border-radius: var(--border-radius-default);
  color: var(--color-text-default);
  font-size: 1rem;
  padding: 1rem;
}

.notification--error {
  background-color: var(--color-error-background);
  border-color: var(--color-error);
}

/* The select menu css has been adapted from https://www.filamentgroup.com/lab/select-css.html */

.select {
  display: inline-block;
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--color-text-default);
  line-height: 1.3;
  padding: 0.5em 1.4em 0.4em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-normal-action);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}

.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select option {
  font-weight: normal;
}

.select:disabled,
.select-css[aria-disabled="true"] {
  color: var(--color-text-disabled);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.select:disabled:hover,
.select-css[aria-disabled="true"] {
  border-color: #aaa;
}
